html {
  font-size: 12pt;
  color: aliceblue;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url('https://www.j4s8.de/img/20161218064709.jpg');

}

header,
footer {
  margin-top:1px;
  padding: 0 20px;
  text-align:center;
}

main {
  margin: 10px auto;
  width:600px;
  border-top-style:dashed;
  border-bottom-style:dashed;
}

 #borderimg1 {
  border:10px solid transparent;
  padding: 15px;
  border-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/00/National_Park_Service_sign.jpg/180px-National_Park_Service_sign.jpg) 30 stretch;
}

p {
  margin-top:0;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
  background-color: rgb(112, 60, 60);
}

h2 {
  font-size: 1.5rem;
  background-color: rgb(112, 60, 60); 
  text-align:center;
}

footer {
  font-size:smaller;
}

ul {
  list-style:circle;
  padding-top:10px;
  padding-bottom: 10px;
}

ol {
  list-style: decimal;
  padding-top:10px;
  padding-bottom: 10px;
}